[req]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = products-api

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = products-api

DNS.2 = products-api
DNS.3 = localhost
DNS.4 = pp-products-api
